<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <button
          type="button"
          onclick="window.location.href='/home/users/addAccount'"
          class="btn btn-success"
        >Add</button>
      </li>
    </ul>
    <form
      class="form-inline my-2 my-lg-0"
      method="GET"
      action="/home/users/search/1"
    >
      <input
        class="form-control mr-sm-2"
        type="search"
        name="content"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
      >Search</button>
    </form>
  </div>
</nav>

{{{Result}}}

<table id="dtMaterialDesignExample" class="table" cellspacing="0" width="100%">
  <thead class="bg-dark text-white sticky-top">
    <tr role="row"><th
        class="th-sm sorting"
        tabindex="0"
        aria-controls="dtMaterialDesignExample"
        rowspan="1"
        colspan="1"
        style="width: 136px;"
      >username
      </th><th
        class="th-sm sorting_asc"
        tabindex="0"
        aria-controls="dtMaterialDesignExample"
        rowspan="1"
        colspan="1"
        style="width: 210px;"
        aria-sort="ascending"
      >name
      </th><th
        class="th-sm sorting_asc"
        tabindex="0"
        aria-controls="dtMaterialDesignExample"
        rowspan="1"
        colspan="1"
        style="width: 71px;"
        aria-sort="ascending"
      >email
      </th><th
        class="th-sm sorting"
        tabindex="0"
        aria-controls="dtMaterialDesignExample"
        rowspan="1"
        colspan="1"
        style="width: 73px;"
      >role
      </th><th
        class="th-sm sorting"
        tabindex="0"
        aria-controls="dtMaterialDesignExample"
        rowspan="1"
        colspan="1"
        style="width: 54px;"
      >avatar
      </th><th
        class="th-sm sorting"
        tabindex="0"
        aria-controls="dtMaterialDesignExample"
        rowspan="1"
        colspan="1"
        style="width: 88px;"
      >comments
      </th><th
        class="th-sm sorting"
        tabindex="0"
        aria-controls="dtMaterialDesignExample"
        rowspan="1"
        colspan="1"
        style="width: 30px;"
      >Option
      </th></tr>
  </thead>
  <tbody class="table-bordered">
    {{#each ListAccounts}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.info.full_name}}</td>
        <td>{{this.email}}</td>
        <td>{{#if this.role}} {{role}} {{/if}}</td>
        <td>
          <div class="text-center">
            <img
            style="height: 70px;width: auto"
              src="{{this.info.avatar}}"
              class="rounded col-sm"
              alt="avatar"
            />
          </div>
        </td>
        <td>{{this.cmt}}</td>
        <td>
          <button
            type="button"
            class="btn btn-link"
            data-toggle="modal"
            data-id="{{this.username}}"
            onclick="getIdAccount()"
            data-target="#exampleModalCenter"
          >
            delete
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModalCenter"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete?
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    onclick="deleteAccount()"
                  >Delete</button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >Cancel</button>

                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="container">
  <nav class="table-responsive mb-2">
    <ul class="pagination mb-0">
      <li class="page-item" id="btn-previous"><a
          class="page-link"
          tabindex="-1"
          onclick="prePage()"
        >Previous</a></li>
      {{#times count}}
        <li class="page-item" id="page_{{@index}}"><a
            class="page-link"
            onclick=""
            href="{{linkPage}}{{@index}}{{search}}"
          >{{@index}}</a></li>
      {{/times}}
      <li class="page-item" id="btn-next"><a
          class="page-link"
          tabindex="-1"
          onclick="nextPage()"
        >Next</a></li>
    </ul>
  </nav>
  <form name="delete-hidden-form" method="POST"></form>
</div>
<script>
  let id = 0; 
  function getIdAccount(){
  $('#exampleModalCenter').on('show.bs.modal', function(event){ 
    var button = $(event.relatedTarget); 
    id = button.data('id'); 
    }) 
    }; 
    function deleteAccount(){ var form = document.forms['delete-hidden-form']; 
      form.action = '/home/users/delete/' + id + '?_method=DELETE'; 
      form.submit(); 
    }; 
    function getUrlParameter(name) {
       name = name.replace(/[\\\\\[]/,'\\\[').replace(/[\]]/, '\\]'); 
       var regex = new RegExp('[\\?&]' + name + '=([^&#]*)'); 
       var results = regex.exec(location.search); 
       return results === null ? '' :decodeURIComponent(results[1].replace(/\+/g, ' ')); 
       }; 
  const pages ={{count}}
  let linkPage ="{{linkPage}}"; 
  let search = "{{search}}".replace("&#x3D;","="); 
  let currentPage = parseInt(getUrlParameter('page')); 
  if(currentPage !== currentPage){ 
    currentPage ={{parentPage}} +0; 
    }; 
  let page = currentPage; 
  console.log(currentPage + " " + pages)
  $("#page_" +page).addClass("active");
  if(currentPage<=1) {
     $("#btn-previous").addClass("disabled"); 
  };
  if(currentPage >= pages || page <= 1) { 
    $("#btn-next").addClass("disabled"); 
  };
  function nextPage() { 
    if (pages>=currentPage) {
       page = currentPage + 1;
      $("#page_"+currentPage).removeClass("active"); 
      currentPage = page; 
    }
    $("#page_" +page).addClass("active"); 
    Redirect(); 
  };
  function prePage() { 
    if(currentPage<= pages && currentPage > 1) {
       page = currentPage - 1;
      $("#page_"+currentPage).removeClass("active");
      currentPage = page; 
   }
  $("#page_" +page).addClass("active"); 
  Redirect(); 
  };
  function Redirect() {
    linkPage = linkPage.replace("&#x3D;", "=");
    window.location=linkPage + currentPage.toString() +search; 
    $("#page_" +currentPage).addClass("active"); 
  };

</script>